<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mc.mapper.OldMapper" >
     <insert id="addOld" parameterType="com.mc.pojo.Old">
          INSERT INTO old(account,name,sex,age,phone,nation,idCard,information)
          VALUE (#{account},#{name},#{sex},#{age},#{phone},#{nation},#{idCard},#{information})
     </insert>
     <update id="updateOldByName" parameterType="com.mc.pojo.Old">
          UPDATE old SET
          sex=#{sex},
          age=#{age},
          phone=#{phone},
          nation=#{nation},
          idCard=#{idCard},
          information=#{information}
          WHERE id=#{id};
     </update>
    <select id="findOldByName" parameterType="String" resultType="com.mc.pojo.Old">
        SELECT * FROM doctor WHERE name=#{name};
    </select>
    <select id="findOldByPhone" parameterType="String" resultType="com.mc.pojo.Old">
        SELECT * FROM doctor WHERE phone=#{phone};
    </select>
</mapper>