<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mc.mapper.WarnsettingMapper" >
    <select id="findWarnsettingAll" resultType="com.mc.pojo.Warnsetting">
            SELECT * FROM warnsetting;
    </select>
    <select id="findWarnsettingByName" parameterType="String" resultType="com.mc.pojo.Warnsetting">
            SELECT * FROM warnsetting WHERE name=#{name};
    </select>
    <delete id="deleteWarnsettingById" parameterType="com.mc.pojo.Warnsetting">
            DELETE FROM warnsetting WHERE id=#{id};
    </delete>
</mapper>